.pagina-carrinho .conteudo {
    width: 820px;
    max-width: 90%;
    margin: 0 auto;
}

.pagina-carrinho .conteudo footer {
    border-top: 1px solid #000;
    margin-top: 24px;
    padding-top: 32px;
    margin-bottom: 128px;
}
.pagina-carrinho .conteudo footer ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.carrinho-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3,3,3,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}